## Telegram
BOT_TOKEN = "1918347027:AAGmu3qp6AHBcWvfVilo3KE1bYLellm67iU" # ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
OWNER_ID = "1492786313"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
TELEGRAM_API = "3732990"
TELEGRAM_HASH = "d75d17f8bcffbc550380452747173736"
AUTHORIZED_CHATS = "1001509758793" #Separated by space
MAX_CONCURRENT_DOWNLOADS = 4

## Drive
GDRIVE_FOLDER_ID = "0AJffXrTRwUp-Uk9PVA"
IS_TEAM_DRIVE = "True"
INDEX_URL = "https://www.teamhk.me/0:/"
DOWNLOAD_DIR = "/app/downloads" #   Dont change this if you are using Docker compose
USE_SERVICE_ACCOUNTS = ""

## Optional config
UPTOBOX_TOKEN = ""

MEGA_KEY = ""  # Get this from https://mega.nz/sdk
MEGA_USERNAME = ""
MEGA_PASSWORD = ""
BLOCK_MEGA_LINKS = ""

STOP_DUPLICATE_MIRROR = "True"

SHORTENER = ""
SHORTENER_API = ""

# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = "Owner"
BUTTON_THREE_URL = "t.me/LordHimanshu69"
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""


# Commands Customization (Completely Optional)
# If you want to change
START_COMMAND = ""
MIRROR_COMMAND = ""
UNZIP_COMMAND = ""
TAR_COMMAND = ""
CANCEL_COMMAND = ""
CANCELALL_COMMAND = ""
LIST_COMMAND = ""
SPEED_COMMAND = ""
COUNT_COMMAND = ""
STATUS_COMMAND = ""
AUTH_COMMAND = ""
UNAUTH_COMMAND = ""
PING_COMMAND = ""
RESTART_COMMAND = ""
STATS_COMMAND = ""
HELP_COMMAND = ""
LOG_COMMAND = ""
CLONE_COMMAND = ""
WATCH_COMMAND = ""
TARWATCH_COMMAND = ""
DELETE_COMMAND = ""
